.table-view {
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-focus-color: white;
}


.table-view .filler{
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: white;
}/*IMPORTANT DISCOVERY!!!!!!!!!A*/


/*
.table-row-cell :odd{
    -fx-background-color: white;
}/*IMPORTANT DISCOVERY!!!!!!!!!B*/
/*
.table-row-cell :even{
    -fx-background-color: white;
}/*IMPORTANT DISCOVERY!!!!!!!!!C*/
/*IMPORTANT DISCOVERY!!!!!!!!!A is not equal to B plus C*/


.table-view .scroll-bar{
    -fx-pref-height:0;
    -fx-pref-width:0;
    -fx-opacity: 0;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}


/*hidden-table-column*/
.hidden-table-column{
    -fx-background-color: white;
}

.hidden-table-column.table-cell{
    -fx-border-width:0 0 0 0;
    -fx-border-color: null;
    -fx-pref-height: 56;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

.hidden-table-column.column-header{
    -fx-background-color: #ffffff;
    -fx-border-width:0 0 0 0;
    -fx-border-color: null;

}
.hidden-table-column.column-header .label{
    -fx-text-fill: null;
    -fx-background-color: #ffffff;

}
.hidden-table-column.column-header .label .text{
    -fx-font-size:12;
}

/*pretty-table-column*/
.pretty-table-column{
    -fx-background-color: white;
}

.pretty-table-column.table-cell{
    -fx-border-width:0 0 1 0;
    -fx-border-color: #e3e3e3;
    -fx-pref-height: 60;
    -fx-alignment: center;
    -fx-wrap-text: true;
}


.pretty-table-column.column-header{
    -fx-background-color: #ffffff;
    -fx-border-width:0 0 1 0;
    -fx-border-color: lightgray;

}
.pretty-table-column.column-header .label{

    -fx-text-fill: #b4b4b4;
}
.pretty-table-column.column-header .label .text{
    -fx-font-size:12;
}













