.context-menu {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: #292929;
    -fx-background-radius:3;
    -fx-border-radius:3;

}
.menu-item{
    -fx-background-radius:3;
    -fx-border-radius:3;
}
.menu-item:hover{
    -fx-background-color: #630460;
    -fx-text-fill: #ffffff;

}
.menu-item:focused{
    -fx-background-color: #630460;
    -fx-text-fill: #ffffff;

}