.pretty-list-view > .virtual-flow > .scroll-bar,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-button,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.pretty-list-view .pretty-scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}
.pretty-list-view .pretty-scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0;
}
.pretty-list-view .pretty-scroll-bar .decrement-arrow,
.pretty-list-view .pretty-scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.pretty-list-view .pretty-scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}
.pretty-list-view .pretty-scroll-bar .thumb {
     -fx-background-color: rgba(0, 0, 0, .17);
     -fx-background-radius: 1000;
     -fx-pref-width: 12;
     -fx-pref-height: 12;
 }
.pretty-list-view .pretty-scroll-bar:hover .thumb {
    -fx-background-color: rgba(0,0,0, .20);
}

.pretty-list-view .list-cell{
    -fx-background-color: rgb(238, 238, 238);
    -fx-border-color: rgb(238, 238, 238);
    -fx-min-height: 30;
    -fx-pref-height:-fx-min-height;
    -fx-padding:6 0 0 28;
}
.pretty-list-view .list-cell:hover{
    -fx-background-color: rgb(244,244,244);
    -fx-border-color: rgb(244,244,244);
}


.pretty-list-view .list-cell:empty:hover{
    -fx-background-color: rgb(238, 238, 238);
    -fx-border-color: rgb(238, 238, 238);

}



.pretty-list-view .list-cell:selected {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width:2;

}

.pretty-list-view {
    -fx-border-color:transparent;
}



#scrolling .list-cell:hover{
    -fx-background-color: rgb(238, 238, 238);
    -fx-border-color: rgb(238, 238, 238);


}
#scrolling .list-cell:selected {
    -fx-background-color: white;
    -fx-border-color: white;
}
/*IMPORTANT DISCOVERY：If two selectors are satisfied, the last one will be implemented.*/
.pretty-list-view{
    -fx-padding:0 0 0 0;
}
